@use "sass:map";
@import "theme.scss";
@import "responsive.scss";
* {
    margin : 0;
    padding : 0;
    font-family: Roboto;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

}
.row {
    display : flex;
    flex-wrap: wrap;
}

.button_submmit{
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px 17px;
    background: map.get($theme-colors, "main");
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.header-top-left {
    display : flex;
    align-items: center;
    padding : 10px 0;
    ul {
        display : flex;
        list-style: none;
        column-gap: 10px;
    }
    li {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color : map.get($theme-colors, "normal-text");
        column-gap : 2px;
    }
    li:first-child {
        margin-right: 10px;
        position: relative;
        &:after {
            position: absolute;
            right: -12px;
            top: 1px;
            width: 1px;
            height: 20px;
            background: #000000;
            opacity: 0.1;
            content: "";
            
        }
    }
}

.header-top-right {
    display: flex;
    justify-content: end;
    padding : 10px 0;
    ul {
        display : flex;
        list-style: none;
        column-gap: 5px;
        a{
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            text-decoration: none;
        }
        li:last-child {
            display: flex;
            align-items: center;
            margin-left: 10px;
            span {
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
}

@include Responsive($DESKTOP) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.header_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 24px 0;
    ul {
        position: relative;
        list-style: none;
        column-gap: 2px;
        a {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            text-decoration : none;
        }
        li {
            span {
               color: white;
                background-color : map.get($theme-colors,"main");
                position: absolute;
                height: 15px;
                width:15px;
                border-radius: 40px;
                display: inline-block;
                text-align: center;
                font-size: 13px;
                font-weight: 500;
                left: 12px;
                top: -2px;
            }
        }
    }
}

.header_cart_price {
    display: flex;
    align-items: center;
    column-gap: 20px;
    span {
        font-size: 14px;
        color: map.get($theme-colors, "normal-text");
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 15px 0;
    color: map.get($theme-colors, "normal-text");
}

.header_menu {
    padding: 20px 0;
     ul{
        position: relative;
        display: flex;
        list-style: none;
        justify-content: space-between;
        .active a {
            color: map.get($theme-colors, "main");
        }
        li {
            a {
                text-decoration: none;
                color: map.get($theme-colors, "normal-text");
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                transform: all 0.3s;
                padding: 5px 0;
                display: block;
            }
       }
       li:hover .header_menu_dropdown {
        opacity: 1;
        visibility: visible;
       }
       .header_menu_dropdown{
            display: block;
            background: #222222;
            padding : 5px 0;
            position: absolute;
            width: 180px;
            transition: all 0.3s;
            visibility: hidden;
            opacity: 0;
            li {
                a{
                    text-transform: capitalize;
                    font-size: 14px;
                    color: white;
                    padding: 5px 15px;
                    font-weight: 400;
                }
                :hover {
                    color: map.get($theme-colors, "main");
                }
            }

       }
     }
    
}

